body{
    background-color: aqua;
    text-align: center;
}

div{
    border: 1px solid black;
}


/* Media query

Responsive: Responde a un determinado factor o situación. Es la capacidad que tienen los elementos para ajustar a las ventanas (tanto en tamaño como en disposición).

CSS Puro (Medias Querys)

Una regla especial que se ejecuta solo cuando se cumplen ciertas condiciones. Estas condiciones estan relacionadas con las caracteristicas de nuestro dispositivo, como el ancho de la pantalla, la orientación y la resolución.

La sintaxis de la media query es:

@media (parametros con condiciones a cumplir){
    estilos que se aplican cuando se cumple la condición
}
*/

@media (min-width:500px) and (max-width:1024px){
    body{
        background-color: salmon;
    }

    .container{
        display: none;
    }
}